
body {
    background-image: url(https://m.media-amazon.com/images/I/A1gkahjDYTL._AC_SX679_.jpg);
    font-family: sans-serif;
    padding: 60px;
}

hr { 
    height: 6px;
    background-color: black;
    border-color: black;
}

.frame {
    width: 120%;
    background-color: #f8f9f9;
    margin-left: 20px;
    margin-right: 20px;
    padding: 50px;
    max-width: 1000px;
}






