
body {
    background-image: url(https://m.media-amazon.com/images/I/A1gkahjDYTL._AC_SX679_.jpg);
    font-family: sans-serif;
    padding: 20px;
}

hr { 
    height: 6px;
    background-color: black;
    border-color: black;
}

.frame {
    width: 80%;
    background-color: #f8f9f9;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}






